{% extends "Layout.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

    {{ 
      govukBackLink({
        text: "Back",
        href: "/users"
      }) 
    }}

    <h1 class="govuk-heading-xl">{{heading}}</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: title,
                html: html
               }) 
            }}
        </div>
    </div>
{% endblock %}